/* ========== GLOBAL ========== */
body {
    background-color: #000000;
    font-family: 'Space Grotesk';
    margin: 0 auto;
    padding: 0;
}

::placeholder {
    color: #646c6f;
}
input{
    width: 28%;
    border-radius: 5px;
    background-color: #14151f;
    color: #FFFFFF;
    text-align: left;
}
hr{
    margin: 8px auto;
}
/* ========== TYPOGRAPHY ========== */
h1 {
    color: #d94123;
    text-align: center;
    font-weight: bolder;
    font-size: 33px;
}

h2, h4 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: x-large;
}

h3 {
    text-align: center;
    color: #d71921;
    font-weight: bold;
    font-size: x-large;
}

form h3 {
    text-align: left;
    color: #d71921;
}

legend {
    color: #d13e32;
    font-weight: bolder;
    font-size: 20px;
}

p, .bugp {
    color: #FFFFFF;
    padding:  14px ;
    

}

.wgoal {
    text-align: center;
    font-weight: bold;
}

/* ========== FORM & INPUTS ========== */
.form {
    padding: -20px 20px 20px 20px;
    border-radius: 0px;
    color: #FFFFFF;
    margin: auto;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

label, fieldset, select {
    background-color: #14151f;
    color: #FFFFFF;
    border-radius: 8px;
    text-align: left;
}

.fieldset-pad {
    padding-top: 25px;
}

/* ========== BUTTONS ========== */
button {
    background-color: #14151f;
    color: #d71921;
    padding: 9px;
    margin: 10px;
    border: 2px solid #d71921;
    border-radius: 8px;
}

button:hover {
    background-color: #d71921;
    border-color: #d71921;
    color: #ffffff;
    font-weight: bolder;
    padding: 10px;
}

/* ========== IMAGES ========== */
.workoutimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navimg {
    width: 19px;
}

/* ========== NAVIGATION ========== */
.navbar {
    width: 100%;
    height: 11%;
    background-color: #14151f;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 7px 12px 1px rgba(81, 78, 78, 0.3);
    -webkit-box-shadow: 0px 5px 22px 1px rgba(81, 78, 78, 0.3);
    -moz-box-shadow: 0px 7px 22px 1px rgba(81, 78, 78, 0.3);
}

.navbar h1 {
    display: block;
    padding: 12px;
    text-align: center;
    margin: 0 auto;
    color: #D71921;
}

.navbar p {
    display: inline-block;
    padding: 0 12px 15px 12px;
    font-size: 12px;
    color: #AEABB1;
    font-weight: bold;
}

/* ========== LINKS ========== */
a:link {
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
}

a:hover {
    color:  #D71921;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
}

.timetable1 a:hover {
    color: #060404;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
}

.timetable1 a {
  color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
}  


a:visited {
     color: #B0BEC5;
}


a:active {
    color: #fdf500;
}

/* ========== LISTS ========== */
li {
    margin: 33px;
    color: #d71912;
    font-size: 1.2em;
    list-style: inside;
}

/* ========== TIMETABLE ========== */
.timetable1 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
    padding: 12px;
}

.day {
    padding: 10px;
  background-color:  #14151f;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.day:hover {
    background-color: #d71921;
    padding: 11px;
}

/* ========== MISC ========== */
.navbar p{
 color: #ffffff;
}


.BMI{
    width: 99%;
    height: 50vh;

}

.hero{
    height:100vh;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    background: linear-gradient(to bottom , #b5cacb,#464b7a , #14151f  );
  

}

.hero h1{
    margin: 0 0 0 0;
    padding: 3.6em 0 0 0 ;
    font-size: 3.5rem;
    color: #d71912;
    text-shadow: 5.3px 6px 4.5px rgba(53, 35, 35, 0.75);
}


.hero-span{
    display: block;
    color:white;
    margin: 20px 0 0 0 ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 .hero button{
    margin: 6em 1.5em 0 1.5em ;
    width: 120px;
    height: 50px; 
    font-size: 1.1em;
    font-weight: 600;
    color: #d71912;
    border: 2px solid white;
    
 }


  .hero button:hover{
    margin: 6em 1.5em 0 1.5em ;
    width: 120px;
    height: 50px; 
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    
 }


 .workoutgoal111{
    padding: 100px 0 0 0  ;
    
 }
@font-face {
    font-family: 'Space Grotesk';
    src: url(/MEDIA/font/SpaceGrotesk-Variable.ttf);
}